*,
::after,
::before {
  box-sizing: border-box;
}

* {
  background: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  font-size: 16px;
}

.App {
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}

.night {
  background-color: hsl(207, 26%, 17%);
}

.night * {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.night input::placeholder {
  color: inherit;
}

p {
  margin: 0;
}

i {
  padding: 0 5%;
}

a {
  text-decoration: none;
  background: none;
}

b {
  font-weight: 600;
}

button {
  border: none;
  width: 120px;
  height: 40px;
  margin: 5%;
  background: inherit;
  border-radius: 5px;
}

button a {
  font-size: 14px;
}

.country-page {
  display: inline-block;
  width: 100%;
}

.single-country {
  height: 100%;
  width: 90%;
  margin: 0 5%;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
  background: none;
}

.single-country *:not(button) {
  background: none;
}

.s-flag {
  width: 40%;
}

.s-data {
  margin: 2% 0 5% 10%;
  width: 50%;
}

.s-title {
  font-size: 2rem;
  font-weight: 800;
}

.s-flag,
.s-data,
.s-data div,
.border {
  float: left;
}

.s-data div {
  width: 45%;
  height: 50%;
}

.s-data p {
  padding: 2% 0;
}

.s-lastInfo {
  margin-left: 5%;
}

.s-border {
  width: auto;
  height: 30px;
  padding: 0 5%;
  margin: 1%;
}

.s-border a {
  font-size: 14px;
}

.border {
  width: 100%;
  padding-top: 5%;
}

.border b {
  margin-right: 2%;
}

nav,
.search,
input,
article,
.regions,
button {
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none !important;
}

.App-nav {
  padding: 1.3rem 5%;
  height: 4rem;
}

.App-nav p {
  float: left;
  letter-spacing: 0.5px;
}

.App-title {
  width: 45%;
  font-weight: 800;
  margin-right: 0;
  width: 55%;
  font-size: 18px;
}

.App-night {
  text-align: right;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  width: 45%;
}

.App-night i {
  padding: 0 5px;
}

/* header style */
.inputs {
  height: 60px;
  margin: 3% 5%;
  background: transparent;
}

.search,
input,
.regions {
  height: 60px;
  border-radius: 5px;
  font-size: 14px;
}

.search {
  width: 40%;
  padding-left: 1%;
  float: left;
}

.search i {
  font-size: 1.6rem;
  vertical-align: middle;
}

input {
  border: none;
  width: 80%;
  padding-left: 2%;
  box-shadow: none;
}

input::placeholder {
  color: hsl(0, 0%, 52%);
}

.error {
  box-shadow: 0px 0px 15px rgba(213, 61, 58, 0.7);
}

.error input {
  color: #ff6865;
}

.regions {
  cursor: pointer;
  width: 60%;
  max-width: 200px;
  float: right;
  margin: 0;
}

.regions p {
  padding: 20px 10% 15px;
  border-radius: inherit;
  font-size: inherit;
}

.options {
  margin-top: 10px;
  position: relative;
  border-radius: inherit;
  padding: 5px 0;
  font-size: inherit;
}

.options p {
  padding: 8px 10%;
  transition: 300ms;
}

.options p:hover {
  background-color: #25323f;
}

/* country styles */
.container {
  background: transparent;
}

.country {
  border-radius: 5px;
  width: 18.75%;
  margin: 0 0 5% 5%;
  display: inline-block;
  min-height: 380px;
  height: auto;
}

.c-flag {
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 0 0;
  height: 180px;
}

.country p {
  padding: 0 25px 3%;
  width: 100%;
}

p.c-name {
  padding: 25px;
  padding-bottom: 15px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.5px;
}

@media (max-width: 599px) {
  .App-nav {
    padding: 1.8rem 5%;
    height: 5rem;
  }
  .App-title {
    font-size: 16px;
  }
  .App-night {
    font-size: 14px;
  }
  header {
    margin: 5%;
  }
  .search,
  .regions {
    width: 100%;
  }
  .search i {
    font-size: 1.3rem;
  }
  .regions {
    margin: 8% 0;
    float: left;
  }
  .country {
    width: 70%;
    margin: 0 15% 10%;
    min-height: 340px;
  }
  .c-flag {
    height: 155px;
  }
  .country p:not(.c-name) {
    font-size: 14px;
    padding: 0 0 2% 10%;
  }
  p.c-name {
    padding-left: 10%;
    font-size: 17px;
  }
  p.s-title {
    font-size: 20px;
    padding: 5% 0;
  }

  button {
    height: 30px;
  }

  .s-flag {
    width: 100%;
    margin: 25px 0;
  }

  .s-data {
    width: 100%;
    margin: 0;
  }

  .border b {
    display: block;
    padding: 5% 0;
  }

  .s-data div {
    width: 100%;
    margin: 0;
  }

  .border {
    padding-bottom: 10%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .country {
    width: 42.5%;
    margin: 0 0 5% 5%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .country {
    width: 26.6%;
  }
}
