*,
::after,
::before {
  box-sizing: border-box;
}

* {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
}

.App {
  min-height: 100vh;
  background-color: hsl(207, 26%, 17%);
}

.App-nav {
  padding: 1.8rem 5%;
  height: 5rem;
}

p {
  width: 45%;
  float: left;
  letter-spacing: 0.5px;
  /* letter-spacing: 0; */
  margin: 0;
}

.App-title {
  font-weight: 800;
  margin-right: 0;
  width: 55%;
  font-size: 18px;
}

.App-night {
  text-align: right;
  font-weight: 600;
}

/* header style */
header {
  margin: 5%;
  height: 160px;
  background: transparent;
}

input {
  border: none;
  width: 100%;
  height: 30%;
  border-radius: 5px;
  padding-left: 5%;
  font-size: 14px;
}

input::placeholder {
  color: inherit;
}

/* country styles */
.countries {
  background: transparent;
}

.country {
  width: 70%;
  margin: 0 15% 10%;
  border-radius: 5px;
  /* width: 42.5%; */
  /* margin: 0 0 5% 5%; */
  width: 18.75%;
  margin: 0 0 5% 5%;
  display: inline-block;
}

.c-flag {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.country p {
  padding: 0 25px 1%;
  width: 100%;
}

.country b {
  font-weight: 600;
}

.c-name {
  padding: 25px 25px 20px !important;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.c-capital {
  margin-bottom: 20px;
}
