*,
::after,
::before {
  box-sizing: border-box;
}

* {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
}

.App {
  min-height: 100vh;
  background-color: hsl(207, 26%, 17%);
}

p {
  margin: 0;
}

nav,
input,
article,
.regions {
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none !important;
}

.App-nav {
  padding: 1.3rem 5%;
  height: 4rem;
}

.App-nav p {
  float: left;
  letter-spacing: 0.5px;
}

.App-title {
  width: 45%;
  font-weight: 800;
  margin-right: 0;
  width: 55%;
  font-size: 18px;
}

.App-night {
  text-align: right;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  width: 45%;
}

/* header style */
header {
  margin: 3% 5%;
  background: transparent;
}

input,
.regions {
  height: 60px;
  border-radius: 5px;
  font-size: 14px;
}

input {
  border: none;
  width: 40%;
  padding-left: 5%;
}

input::placeholder {
  color: inherit;
}

.error {
  color: #ff6865;
  box-shadow: 0px 0px 15px rgba(213, 61, 58, 0.7);
}

.regions {
  cursor: pointer;
  width: 60%;
  max-width: 200px;
  float: right;
  margin: 0;
}

.regions p {
  padding: 20px 10% 15px;
  border-radius: inherit;
  font-size: inherit;
}

.options {
  margin-top: 10px;
  position: relative;
  border-radius: inherit;
  padding: 5px 0;
  font-size: inherit;
}

.options p {
  padding: 8px 10%;
  transition: 300ms;
}

.options p:hover {
  background-color: #25323f;
}

/* country styles */
.countries {
  background: transparent;
}

.country {
  border-radius: 5px;
  width: 18.75%;
  margin: 0 0 5% 5%;
  display: inline-block;
  min-height: 380px;
  height: auto;
}

.c-flag {
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 0 0;
  height: 180px;
}

.country p {
  padding: 0 25px 3%;
  width: 100%;
}

.country b {
  font-weight: 600;
}

p.c-name {
  padding: 25px;
  padding-bottom: 15px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.5px;
}

@media (max-width: 599px) {
  .App-nav {
    padding: 1.8rem 5%;
    height: 5rem;
  }
  .App-title {
    font-size: 16px;
  }
  .App-night {
    font-size: 14px;
  }
  header {
    margin: 5%;
  }
  input,
  .regions {
    width: 100%;
  }
  .regions {
    margin: 8% 0;
    float: left;
  }
  .country {
    width: 70%;
    margin: 0 15% 10%;
    min-height: 340px;
  }
  .c-flag {
    height: 155px;
  }
  .country p:not(.c-name) {
    font-size: 14px;
    padding: 0 0 2% 10%;
  }
  p.c-name {
    padding-left: 10%;
    font-size: 17px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .country {
    width: 42.5%;
    margin: 0 0 5% 5%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .country {
    width: 26.6%;
  }
}
